.calculator-view {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hours-form{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.form-footer{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}